.Card {
    width: auto;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0,0,0, 0.25);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    cursor: pointer;
}

.Card:hover{
    transform: scale(1.05, 1.05);
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    box-shadow: 0 30px 60px rgba(0,0,0, 0.5);
}

.Card img{
    position: absolute;
    top: 0;
    z-index: -1;
    transition: 1.2s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover img{
    transform: translateY(-20px)
}

.Card h3{
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0 0 20px; 
    width: 280px;
}

.Card p{
    color: white;
    margin: 10px 20px 20px 20px;

}

.Caption {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 0 0;

}

.Price span {
    background: rgba(255,255,255, 0.25);
    padding: 8px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 8px;
    
}
