.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0px;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.HeaderScrolled {
    background: rgba(0, 0, 0, 0.7);
    padding: 15px 0;
    backdrop-filter: blur (20px);
}

.HeaderGroup {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-items: center;
}

.Header a{
    color: white;
    font-size: 17px;
    font-weight: 300;

}

.Header button{
    border: 2px solid white;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.0);
    padding: 9px 24px;
    font-size: 17px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Header button:hover{
    background: white;
    color: rgb(226, 74, 99);
    transform: translateY(-3px);
}

@media (max-width: 640px) {

    .Header {
        padding: 15px 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat(4, auto);
    }

    .Header a:nth-child(3){
        display: none;
    }

}
